<a href="https://colab.research.google.com/github/abhishekmishra-bareilly/Deep-Learning/blob/main/Convert_text_into_lower_case.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# Import the dependancy
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/PYTHON/colab with data/imdb/imdb_data.csv')

In [12]:
data.head(1)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651

### **Convert text into lower case**

In [13]:
data['original_title'][0]

'Hot Tub Time Machine 2'

In [14]:
data['original_title'][0].lower()

'hot tub time machine 2'

In [15]:
# Apply on the column
data['original_title'] = data['original_title'].str.lower()

In [21]:
data['original_title'].values

array(['hot tub time machine 2',
       'the princess diaries 2: royal engagement', 'whiplash', ...,
       'the long kiss goodnight', 'along came polly', 'abduction'],
      dtype=object)